.subscribe-button {
  background-color: #e50914;
  height: 50px;
  width: fit-content;
  padding: 20px 32px 10px 32px;
  cursor: pointer;
  align-items: center;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

.subscribe-button a {
  text-decoration: none;
  padding: 8px 0px;
  cursor: pointer;
  color: white;
  font-size: 26px;
  font-weight: 700;
}
.subscribe-button-image {
  width: 24px;
  margin-left: 10px;
  filter: invert(1);
  filter: brightness(100);
}
