.footerComponent {
  background-color: black;
}
.footerWrapper {
  max-width: 800px;
  margin: auto;
  padding: 70px 56px;
}
.footerWrapperGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 800px;
  margin: auto;
}
.footerColumn {
  display: flex;
  flex-direction: column;
}
.footerText {
  color: #757575;
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 0px;
  text-decoration: none;
  cursor: pointer;
}
